# ненужные файлы и папки битрикса
web/bitrix/cache
web/bitrix/managed_cache
web/bitrix/.settings.php
web/bitrix/php_interface/dbconn.php
web/bitrix/php_interface/sqlmode_d7.php
web/bitrix/php_interface/sqlmode.php
web/bitrix/stack_cache
web/bitrix/backup
web/bitrix/upload
web/upload
web/sitemap*
web/bitrixsetup.php
web/mysql_debug.sql
web/restore.php
web/bitrix/modules/updater_partner.log
web/bitrix/modules/updater.log


# ненужные файлы и папки фронта
frontend/node_modules
frontend/bower_components
frontend/build


# ненужные файлы и папки IDE и операционных систем
.DS_Store
site_checker_*.*
.idea
*.sublime-workspace
.buildpath
.project
.settings
nbproject
Thumbs.db
.~lock.*


# composer
vendor


# docker
/docker/.env


# apache & nginx conf
*vhost.conf
*vhosta.conf
*vhostn.conf


# опасные файлы технических скриптов
*phpMyAdmin*
*phpmyadmin*
*myadmin*
*adminer.php*


# кэш cod style fixer'а
.php_cs.cache
